{% block content %}

<h1>Bootstrap 3.1 + Sass (Official port)</h1>

<p>
This is a quick and simple setup for using <a href="https://github.com/twbs/bootstrap-sass">Bootstrap-Sass</a> in Mixture.
</p>
<p>
It currently uses Bootstrap-Sass v3.1.0, and has Autoprefixer activated.
</p>

<a href="/example">Example page.</a>

{% endblock %}